<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RECIPE APP</title>
	<link rel="stylesheet" href="styles/main.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
</head>
<body>

	<div ng-app="recipeApp" ng-controller="recipeController">

		<select name="hParams" id="healthParameters">
			<option value="vegan">Vegan</option>
			<option value="low-fat">Low Fat</option>
			<option value="gluten-free">Gluten Free</option>
		</select>

		<hr>


		<input type="text" id="search" placeholder="search">
		<input type="button" id="button" ng-click="getRecipes()" value="Search Recipes">
		<div id="listArea">
			<div class="recipeItem" ng-repeat="x in recipes">
				<a href="{{ x.recipe.url }}"><h1>{{ x.recipe.label }}</h1></a>
				<img src="{{ x.recipe.image }}" alt="">
				<h4>Serves: {{ x.recipe.yield }}</h4>
				<ul>
					<li ng-repeat="y in x.recipe.ingredientLines">{{ y }}</li>
				</ul>
			</div>
		</div>

	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>